/* GENERAL TYPOGRAPHY */

a {
    color: #cf1919;
}

a:hover {
    color: #a31616;
}

span.highlight {
    color: #cf1919;
}

/* MENU */

#menu-wrapper,
#menu-wrapper .menu,
#menu-wrapper .menu li,
#menu-wrapper .menu li a:hover {
    background-image: url(../../images/style/red/menu.png);
}

#menu-wrapper .menu li ul {
    background-color: #ac0d0d;
    border-color: #741414;
    border-top-color: #ff0000;
}

#menu-wrapper .menu li ul li a:hover {
    background-color: #890d0d;
}

#menu-wrapper .menu li ul ul {
    border-color: #741414;
}

/* SLOGAN */

#slogan span {
    color: #cf1919;
}

/* SIDEBAR */

#sidebar .widget li a:hover {
    color: #cf1919;
}

/* FOOTER */

#footer-top {
    background-image: url(../../images/style/red/footer-top.png);
}

/* BLOG */

#content .entry h1 a:hover,
#content .entry h2 a:hover {
    color: #cf1919;
}

/* PORTFOLIO */

#full-width-content .portfolio-box h2 a:hover {
    color: #cf1919;
}