/* BODY */

body {
    background: #e9e4d6;
}

/* FOOTER */

#footer {
    background-color: #e9e4d6;
    background-image: url(../../images/style/beige/footer-bg.jpg);
}

#footer-boxes {
    color: #121212;
    text-shadow: 0 1px 0 #ffffff;
}

#footer-boxes a:hover {
    color: #000000;
}

/* COPYRIGHT */

#copyright .menu li {
    border-left: 1px solid #666666;
}

#copyright .menu li a {
    color: #666666;
}

#copyright .menu li a:hover {
    color: #000000;
}
