body {
    color: #666666;
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}

object,
frame {
	display: block;
}

/* HEADER */

#header {
    background: url(../../images/shared/gradient.png) repeat-x;
    color: #dddddd;
}

#header a {
	color: #ffffff;
}

#header a:hover {
	text-decoration: underline;
}

#header .content {
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    text-align: left;
    width: 940px;
}

#header h1#logo {
    margin: 0;
    padding: 20px 20px;
}

#header h1#logo a {
    color: #ffffff;
    font-size: 40px;
}

#header #twitter {
    background: transparent url(../../images/shared/twitter.png) 0 center no-repeat;
    float: right;
    font-size: 11px;
    position: absolute;
    top: 15px;
    right: 80px;
    text-shadow: 1px 1px 3px #000000;
    width: 415px;
    height: 80px;
}

#header #twitter .inner {
    padding: 3px 0 3px 90px;
}

#header #twitter .inner ul {
    padding: 0;
}

#header #twitter .inner li {
    list-style: none;
    padding: 0;
}

#header .searchform {
    position: absolute;
    top: 35px;
    right: 70px;
}

#header .searchform div {
    background-image: url(../../images/shared/searchform.png);
    float: left;
}

#header .searchform .search-left,
#header .searchform .search-right {
	background-repeat: no-repeat;
	width: 5px;
	height: 39px;
}

#header .searchform .search-left {
	background-position: 0 0;
}

#header .searchform .search-right {
	background-position: 0 -39px;
}

#header .searchform .search-middle {
	background-position: 0 -78px;
	background-repeat: repeat-x;
	height: 39px;
	padding: 0 5px;
}

#header .searchform input {
    background: transparent;
    border: none;
    color: #ffffff;
    margin: 12px 0 0 0;
}

#header .searchform #searchsubmit {
    background: url(../../images/shared/search-submit.png) center 0 no-repeat;
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
}

#header #html-block {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 500px;
}

/* MENU */

#menu-wrapper {
    background-position: 0 0;
    background-repeat: repeat-x;
    position: relative;
    z-index: 100; /* Far above slideshow */
}

#menu-wrapper .content {
    margin: 0 auto;
    text-align: left;
    width: 940px;
}

#menu-wrapper .menu {
    background-position: 0 -47px;
    background-repeat: no-repeat;
    padding: 0 0 0 2px;
}

/* MAIN */

#main {
    background-repeat: repeat-x;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

#main .content {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

#main #breadcrumbs {
    background: url(../../images/shared/home.png) no-repeat;
    font-size: 11px;
    margin: 0 10px;
    padding: 0 0 10px 20px;
}

/* FEATURED POSTS DISPLAY */

.featured-wrapper {
	margin: 0 0 15px 0;
}

.featured-wrapper .entry {
    float: left;
    margin: 10px;
    width: 300px;
    height: 170px;
}

.featured-wrapper .entry img {
    display: block;
}

.featured-wrapper .entry .border{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 9px;
}

.featured-wrapper .entry .border .inner {
    overflow: hidden;
    position: relative;
}

.featured-wrapper .description {
    background-image: url(../../images/shared/featured-description.png);
    color: #000000;
    font-size: 12px;
    position: absolute;
    top: 110px;
    width: 280px;
    height: 150px;
}

.featured-wrapper .description .pad {
    padding: 10px;
}

.featured-wrapper h2 {
    font-size: 16px;
    margin-top: 0;
}

/* HOMEPAGE CONTENT */

#home-content {
	margin: 0 0 15px 0;
}

/* SLOGAN */

#slogan {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 15px 0;
	padding: 20px 30px;
}

#slogan .slogan-text {
	float: left;
	font-size: 20px;
	line-height: 140%;
	width: 650px;
}

#slogan .slogan-center {
	float: none;
	text-align: center;
	width: 100%;
}

#slogan .slogan-button {
	float: right;
}

#slogan .slogan-button .button {
	font-size: 18px;
    padding: 20px 25px;
}

/* SLIDESHOW */

#main .slideshow-wrapper {
    background-position: 0 bottom;
    background-repeat: no-repeat;
    padding: 0 15px 20px 15px;
    position: relative;
}

#main #content .slideshow-wrapper,
#main #sidebar .slideshow-wrapper {
    background-image: none;
    padding: 0;
    margin: 10px 0;
}

#main .slideshow-wrapper .slide-next,
#main .slideshow-wrapper .slide-prev {
    display: block;
    width: 60px;
    height: 190px;
    text-indent: -9999px;
}

#main .slideshow-wrapper .slide-next {
    background-position: -60px 0;
    position: absolute;
    top: 60px;
    right: -25px;
}

#main .slideshow-wrapper .slide-next:hover {
    background-position: -60px -190px;
}

#main .slideshow-wrapper .slide-prev {
    background-position: 0 0;
    position: absolute;
    top: 60px;
    left: -25px;
}

#main .slideshow-wrapper .slide-prev:hover {
    background-position: 0 -190px;
}

#main .slideshow {
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 2;
}

#main .slideshow .slide .wp-post-image {
    display: block;
}

#main .slideshow .slide .alignleft,
#main .slideshow .slide .alignleft,
#main .slideshow .slide .aligncenter {
    margin-top: 0;
}

#main .slideshow .slide .pad {
    padding: 20px;
}

#main .slideshow .slide .description {
    background-color: #000000;
    color: #ffffff;
    opacity: .50;
    filter: alpha(opacity=50);
    -moz-opacity: .50;
    position: absolute;
    bottom: 0;
    width: 930px;
}

#main #content .slideshow .slide .description {
    width: 640px;
}

#main #content .slideshow {
    overflow: hidden;
}

#main .slideshow-nav {
    height: 45px;
}

.slideshow-nav-inner {
    text-align: center;
    padding: 13px 0 0 0;
}

#content .slideshow-nav-inner {
    padding: 6px 0 0 0;
}

.slideshow-nav-inner a {
    border: none;
}

.slideshow-nav-inner a img {
    background-image: url(../../images/shared/slide-buttons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.slideshow-nav-inner a:hover img,
.slideshow-nav-inner a.activeSlide img {
    background-position: 0 -20px;
}

/* HOMEPAGE BOXES */

#homepage-boxes {
    padding: 10px 0;
}

#homepage-boxes .full-width {
    margin: 0 10px;
}

#homepage-boxes .half {
    float: left;
    margin: 0 10px;
    width: 460px;
}

#homepage-boxes .one-fourth {
    float: left;
    margin: 0 20px;
    width: 200px;
}

#homepage-boxes .three-fourth {
    float: left;
    margin: 0 10px;
    width: 700px;
}

#homepage-boxes .one-third {
    float: left;
    margin: 0 10px;
    width: 300px;
}

#homepage-boxes .two-third {
    float: left;
    margin: 0 10px;
    width: 620px;
}

#homepage-boxes .widget .pad {
    padding: 10px;
}

#homepage-boxes .widget h2 {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

/* SIDEBAR & WIDGET COLUMNS */

#sidebar .widget h3,
#sidebar-left .widget h3,
#home-widget-columns .widget h3 {
    font-size: 22px;
}

#sidebar .widget ul,
#sidebar-left .widget ul,
#home-widget-columns .widget ul {
    padding: 0;
    margin: 0;
}

#sidebar .widget li,
#sidebar-left .widget li,
#home-widget-columns .widget li {
    line-height: 100%;
    padding: 7px 0 7px 15px;
    border-top: 1px solid #cccccc;
    background-image: url(../../images/shared/bullet.png);
    background-position: 0 10px;
    background-repeat: no-repeat;
    overflow: hidden;
}

#sidebar .widget li a,
#sidebar-left .widget li a,
#home-widget-columns .widget li a {
    border: none;
    display: block;
}

#sidebar .widget li a:hover,
#sidebar-left .widget li a:hover,
#home-widget-columns .widget li a:hover {
    text-decoration: none;
}

#sidebar .widget li.current_page_item > a,
#sidebar .widget li a.current_page_item,
#sidebar-left .widget li.current_page_item > a,
#sidebar-left .widget li a.current_page_item,
#home-widget-columns .widget li.current_page_item > a,
#home-widget-columns .widget li a.current_page_item {
    font-weight: bold;
}

#sidebar .widget li ul,
#sidebar-left .widget li ul,
#home-widget-columns .widget li ul {
    margin: 7px 0 0 -10px;
    padding: 0;
    border: none;
}

#sidebar .widget li ul li,
#sidebar-left .widget li ul li,
#home-widget-columns .widget li ul li {
    padding-left: 30px;
    background-position: 20px 10px;
}

#home-widget-columns .widget {
	padding: 0 10px;
}

/* FOOTER */

#footer-top {
    background-repeat: repeat-x;
    height: 25px;
}

#footer {
    background-position: center 0;
    background-repeat: no-repeat;
}

#footer .content {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

#footer-boxes {
    padding: 20px 0;
}

#footer-boxes .widget {
    float: left;
    font-size: 11px;
    padding: 0 10px;
}

#footer-boxes .widget .pad {
    padding: 10px;
}

#footer-boxes .widget h2 {
    font-size: 16px;
    margin: 0 0 15px 0;
}

#footer-boxes .widget ul {
    padding: 0;
}

#footer-boxes .widget li {
    list-style: none;
    padding: 2px 0;
}

/* COPYRIGHT */

#copyright {
    font-size: 10px;
    line-height: 12px;
    padding: 20px 10px;
}

#copyright .info {
    float: left;
}

#copyright .menu {
    float: right;
    list-style: none;
    padding: 0;
}

#copyright .menu li {
    float: left;
    list-style: none;
    padding: 0 10px;
}

#copyright .menu li:first-child {
    border: none;
}

/* MAGAZINE */

#magazine .magazine-entry {
    float: left;
    margin: 20px 60px 20px 0;
    width: 290px;
}

#magazine .last {
    margin-right: 0;
}

#magazine .magazine-entry h1 {
    font-size: 18px;
}

#magazine .magazine-entry img {
    padding: 4px;
}

#magazine .magazine-entry .excerpt {
    font-size: 11px;
}

/* BLOG */

#main #content .content {
    width: 100%;
}

#content .entry {
    margin: 0 0 40px 0;
}

#content .entry h1 {
    margin: 0 0 5px 0;
}

#content .entry .meta {
    font-size: 11px;
    margin: 0 0 20px 0;
    overflow: hidden;
    _height: 35px; /* IE6 Fix */
}

#content .entry .meta a {
    text-decoration: none;
}

#content .entry .meta .left {
    display: block;
    float: left;
}

#content .entry .meta .left .date {
    background-image: url(../../images/shared/post-date.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    padding: 8px 10px 8px 30px;
}

#content .entry .meta .right {
    float: right;
}

#content .entry .meta .right .author,
#content .entry .meta .right .comments {
    background-position: 0 center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    padding: 8px 10px 8px 30px;
}

#content .entry .meta .right .author {
    background-image: url(../../images/shared/post-author.png);
}

#content .entry .meta .right .comments {
    background-image: url(../../images/shared/post-comment.png);
}

#content .entry .wp-post-image {
    padding: 4px;
    margin: 0 0 12px 0;
}

#content .entry .excerpt p {
    margin: 0 0 15px 0;
}

/* COMMENTS */

#comments-wrap h3 {
	font-size: 25px;
	margin-left: 10px;
}

#comments ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#comments li {
	background-image: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

#comments .comment {
	min-height: 1px;
	position: relative;
}

#comments .comment .comment-author img {
	position: absolute;
	top: 10px;
	right: 10px;
}

#comments .comment .comment-author img {
	padding: 4px;
}

#comments .comment .fn {
	display: block;
    font-size: 20px;
    font-style: normal; 
    padding: 0 0 5px 0;
}

#comments .comment .says {
	display: none;
}

#comments .comment .commentmetadata {
	display: block;
	font-size: 10px;
	padding: 0 0 15px 0;
}

#comments ul.children {
	margin: 0 0 0 19px;
}

#comments ul.children li {
	padding: 0 0 0 20px;
}

#comments ul.children li {
	background-position: 0 20px;
	background-repeat: no-repeat;
}

#comments .comment-body {
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 20px;
}

/* COMMENTS FORM */

#respond {
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
	margin: 10px 0;
	padding: 30px;
}

#respond h3 {
	margin: 0 0 20px 0;
}

#commentform .comment-notes {
	display: none;
}

#commentform p {
	display: block;
	overflow: hidden;
}

#commentform label {
	display: block;
	float: left;
	width: 75px;
}

#commentform label.error {
	color: red;
	clear: both;
	display: block;
	font-size: 11px;
	margin: 5px 0 0 80px;
	width: 250px;
}

#commentform input.error,
#commentform textarea.error,
#commentform input.error:focus,
#commentform textarea.error:focus {
	border: 1px solid red;
}

#commentform span.required {
	display: none;
}

#commentform input,
#commentform textarea {
	float: left;
	font-family: Arial, Helevtica, Verdana, san-serif;
	font-size: 12px;
	padding: 5px;
}

#commentform code {
	margin-top: 15px;
}

#commentform .form-allowed-tags {
	display: none;
}

#commentform .form-submit input {
	cursor: pointer;
	margin: 0 0 0 75px;
	padding: 6px;
}

/* CONTACT FORM */ 

#contact {
    position: relative;
}

#contact #sent {
    display: none;
}

#contact h3 {
    margin: 0 0 20px 0;
}

#contact label.error {
    color: #990000;
    display: block;
    font-size: 11px;
    padding: 5px 0 5px 90px;
}

#contact fieldset {
    margin: 0 0 10px 0;
}

#contact input, #contact textarea {
    font-family: Arial,Helevtica,Verdana,san-serif;
    font-size: 12px;
    padding: 5px;
}

#contact textarea {
    width: 350px;
    height: 200px;
}

#contact legend {
    font-weight: bold;
    padding: 0 2px;
}

#contact label.name {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}

#contact fieldset ol {
    margin: 0;
    padding: 0;
}

#contact fieldset li {
    background-image: none;
    list-style: none;
    margin: 0;
    padding: 5px;
}

#contact label.name {
    width: 85px; /* Width of labels */
}

#contact #submit {
    cursor: pointer;
    padding: 5px 10px;
}

.honeypot {
    display: none;
}

/* SITEMAP */

.sitemap ul {
    padding-top: 0;
    padding-bottom: 0;
}

/* PORTFOLIO */

#full-width-content a.thumb {
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

#full-width-content a.thumb .enlarge {
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#full-width-content .portfolio-box {
    margin-bottom: 30px;
}

#full-width-content .portfolio-box h2 {
    margin: 0 0 10px 0;
}

#full-width-content .portfolio-box h2,
#full-width-content .portfolio-box p,
#full-width-content .portfolio-box .readmore {
    padding-left: 7px;
    padding-right: 7px;
}

/* PAGINATION */

    /* Structure */
.wp-pagenavi .pages {
	display: none;
}

.wp-pagenavi span, .wp-pagenavi a {
	border-style: solid;
	border-width: 1px;
	display: block;
	float: left;
	line-height: 100%;
	margin: 0 2px;
	padding: 5px 7px;
}

    /* Color */
.wp-pagenavi span, .wp-pagenavi a {
	border-color: #e7e7e7;
	color: #666666;
}

.wp-pagenavi .current {
	background-color: #f2f2f2;
}

.wp-pagenavi a:hover {
	background-color: #f2f2f2;
}

/* STANDARD NAV LINKS */

.nav-entries {
    padding: 15px;
}

.nav-entries a {
    display: block;
    font: italic 12px/16px 'Droid Serif', Georgia, serif;
    text-decoration: none;
}

.nav-entries a:hover {
    text-decoration: underline;
}

/* THEME HINTS */

.theme-hints {
    margin: 0 0 10px 0;
}

#header .theme-hints,
#footer .theme-hints  {
    padding-top: 10px;
}

.theme-hints .inner {
    background: #f7f7f7;
    border: 1px dashed #cccccc;
    color: #999999;
    font-size: 12px;
    padding: 15px;
    text-align: left;
    text-shadow: none;
}

.theme-hints span {
    border-top: 1px solid #dddddd;
    display: block;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}